@use "../config/variables" as v;

#memo {
    .memo-content {
        display: flex;
        justify-content: space-between;

        aside {
            width: 20%;
            background-color: #0bd;
        }
        article {
            width: 80%;
            background-color: #c0c0c0;
        }
    }
}