<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memo Page | Markdown Memo</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{https://unpkg.com/ress/dist/ress.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.min.css}" />
</head>
<body>
    <h1>Group List Page</h1>
    <a href="../index.html" th:href="@{/}">Top Page</a>
    <ul th:each="group : ${groupList}">
        <li>
            <a href="../memos/memo.html" th:href="@{/memos/{groupId}(groupId=${group.groupId})}" th:text="${group.groupName}">(group name)</a>
        </li>
    </ul>
</body>
</html>