<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markdown Memo</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{https://unpkg.com/ress/dist/ress.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.min.css}" />
</head>
<body>
    <h1>hello world!!</h1>
    <a href="./memos/memoList.html" th:href="@{/memos}">Memo Page</a>
</body>
</html>