<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memo Page | Markdown Memo</title>
</head>
<body>
    <h1>Memo Page</h1>
    <a href="../index.html" th:href="@{/}">Top Page</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>CONTENT</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="memo : ${memoList}">
                <th th:text="${memo.id}">(id)</th>
                <td th:text="${memo.title}">(title)</td>
                <td th:text="${memo.content}">(content)</td>
            </tr>
        </tbody>
    </table>
</body>
</html>