@use "../setting/variables" as v;

aside {
    background-color: v.$main-color2;
    width: 360px;
    height: calc(100% - 120px); // header,footerを引いた高さ
    padding: 10px 20px;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 80;
    box-shadow: 6px 0 3px -3px rgba($color: #000000, $alpha: .3);

    li {
        list-style: none;
    }
    a {
        color: rgba($color: v.$text-color2, $alpha: 0.7);
        text-decoration: none;
        font-size: 1.2rem;
        
        &:hover {
            color: rgba($color: v.$text-color2, $alpha: 1.0);
        }
    }
    .side-header {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .side-menu {
            display: flex;
            align-items: flex-end;

            .menu-list {
                margin-left: 20px;
            }
        }
    }    
    .memo-list-container {
        height: calc(100% - 50px); // side-headerを引いた高さ
        width: 100%;
        white-space: nowrap; // テキストを折り返さない
        overflow-x: hidden; // 横方向にスクロールバーを表示しない
        overflow-y: scroll; // 縦方向にスクロールバーを表示
        
        .directory-name, .memo-name {
            cursor: pointer;

            &:hover {
                background-color: rgba($color: #fff, $alpha: .1);
            }
        }
        .memo-list {
            display: none;
        }
    }
}